<div class="item-wrapper">
  <div class="item-image-container">
    <img [src]="item.imageUrl" alt="Item image" />
  </div>
  <div class="item-title text-ellipsis">{{ item.name }}</div>
  <div class="item-description text-ellipsis">{{ item.description }}</div>
  <div *ngIf="!item.isAddedToCart; else itemInCartTemplate" class="item-price-container">Price: {{ item.price.toFixed(2) }} €
    <button type="button" class="btn" (click)="addItemToCart(item)">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <ng-template #itemInCartTemplate>
    <div class="item-seller-container">
      <div>
        <strong>Seller</strong>: 
        <span class="seller-name">{{ item.seller.name }}</span>
      </div>
      <div>
        <strong>Email</strong>: 
        <span class="seller-email">{{ item.seller.email }}</span>
      </div>
      <div>
        <strong>Phone</strong>: 
        <span class="seller-phone">{{ item.seller.phone }}</span>
      </div>
        <button type="button" class="btn remove-item-btn" (click)="removeFromCart(item)">
          <mat-icon>remove</mat-icon>
        </button>
    </div>
  </ng-template>
</div>
