@import "../../../shared/styles/colors.scss";
$secondary-text-color: #666;

.item-wrapper {
  max-width: 300px;
  width: 100%;
  border: 1px solid $border-color;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: $background-color;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 25px;
  padding-bottom: 25px;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  .item-image-container {
    width: 100%;
    height: 200px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .item-title,
  .item-description {
    text-align: center;
    margin: 15px;
  }

  .item-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: $text-color;
  }

  .item-description {
    font-size: 1rem;
    color: $secondary-text-color;
    line-height: 1.5;
  }

  .item-price-container,
  .item-seller-container {
    margin: 15px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
  }

  .item-price-container {
    button {
      padding: 0px 2px;
      border: none;
      background-color: transparent;
      display: flex;
      background-color: rgba($color: $secondary-color, $alpha: 0.5);

      mat-icon {
        color: #fff;
      }
    }
  }

  .item-seller-container {
    display: flex;
    flex-direction: column;
    font-weight: 400;

    .seller-name,
    .seller-email,
    .seller-phone {
      color: $secondary-text-color;
    }
  }
}
