@import "./app/shared/styles/text.scss";
@import "./app/shared/styles/button.scss";

html {
  font-family: "Titillium Web", serif;
  font-size: 16px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1920px;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
