<div class="header-wrapper">
  <div class="banner" routerLink="/">Healthy world</div>
  <div class="profile-section" *ngIf="isAuthenticated$ | async; else loginSection">
    <div class="user-account">Welcome {{ userEmail() }}</div>
    <div class="cart">
      <mat-icon>shopping_cart</mat-icon>
      <span class="number-of-items">{{ (items$ | async)?.length || 0 }}</span>
    </div>
    <button type="button" class="btn btn-header" (click)="logout()">Logout</button>
  </div>
  <ng-template #loginSection>
    <div class="login-section">
      <button type="button" class="btn btn-header" routerLink="/user/register">Register</button>
      <button type="button" class="btn btn-header" routerLink="/user/login">Login</button>
    </div>
  </ng-template>
</div>
