@import "../shared/styles/colors.scss";

.header-wrapper {
  width: 100%;
  padding: 25px;
  display: flex;
  align-items: baseline;
  color: #fff;
  background: linear-gradient(90deg, #f7d62f, $primary-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 3rem;

  .banner {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    flex-grow: 2;
    text-transform: uppercase;
    letter-spacing: 1.5rem;
    cursor: pointer;
  }

  .profile-section,
  .login-section {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .user-account {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 1rem;
  }
}
