<h1 class="form-title">Register</h1>
<form [formGroup]="registerForm">
  <div>
    <label for="email">
      <input
        type="text"
        id="email"
        formControlName="email"
        placeholder="Email"
        (blur)="onBlur('email')"
      />
    </label>
    @if(emailControl?.touched && emailControl?.invalid){ 
      @if(emailControl?.errors?.["required"]){
        <span>*Field is required!</span>
      }
      @if(emailControl?.errors?.["email"]){
        <span>*Email is invalid!</span>
      }  
    }
  </div>

  <div>
    <label for="password">
      <input
        [type]="!isPasswordVisible() ? 'password' : 'text'"
        id="password"
        formControlName="password"
        placeholder="Password"
        (blur)="onBlur('password')"
      />
      <mat-icon (click)="togglePasswordVisibility()">{{!isPasswordVisible() ? 'visibility' : 'visibility_off'}}</mat-icon>
    </label>
    @if(passwordControl?.touched && passwordControl?.invalid){ 
      @if(passwordControl?.errors?.["required"]){
        <span>*Field is required!</span>
      }
      @if(passwordControl?.errors?.["minlength"]){
        <span>*Password must be atleast 6 characters!</span>
      }  
    }
  </div>
  <div>
    <label for="rePassword">
      <input
        [type]="!isRePasswordVisible() ? 'password' : 'text'"
        id="rePassword"
        formControlName="rePassword"
        placeholder="Retype password"
        (blur)="onBlur('rePassword')"
      />
      <mat-icon (click)="toggleRePasswordVisibility()">{{!isRePasswordVisible() ? 'visibility' : 'visibility_off'}}</mat-icon>
    </label>
    @if(rePasswordControl?.touched && rePasswordControl?.invalid){ 
      @if(rePasswordControl?.errors?.["required"]){
        <span>*Field is required!</span>
      } 
      @if(rePasswordControl?.errors?.["minlength"]){
        <span>*Password must be atleast 6 characters!</span>
      }
      @if(rePasswordControl?.errors?.["passwordMismatch"]){
        <span>*Passwords do not match!</span>
      }
    }
  </div>
  <div>
    <button type="button" 
      [disabled]="registerForm.invalid" 
      (click)="onRegister()">Register</button>
  </div>
</form>
